<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>mvvm源码解析示例</title>
  <script src="./dist/mvvm.js"></script>
</head>
<body>
  <!-- 这是注释 -->
  <div id="app">
  	<h1>MVVM测试</h1>
  	<p>{{message}}</p>
    <div v-html="html"></div>

    <div v-if="vif">v-if指令测试</div>

    <div v-if="vif2">v-if指令测试22</div>

    <input type="text" v-model="message" name="" />

    <button v-on:click="clickBtn">按钮</button>
  </div>
  <script type="text/javascript">
  	var vm = new Mvvm({
      el: '#app',
      data: {
      	message: 'Hello, MVVM!',
        html: '<div style="color: red;">这是一段HTML</div>',
        vif: true,
        vif2: false
      },
      computed: {
        getMessage: function() {
          return this.message;
        }
      },

      methods: {
      	clickBtn: function(e) {
          this.vif = false;
        }
      }
    });

    console.log(vm);
  </script>
</body>
</html>